@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: aliceblue;
}

/* Navbar */

.login-card {
  width: 250px;
  height: 240px;
  background-color: #f2f2f2;
  border-radius: 25px;
  box-shadow: 2px 2px 15px rgb(193, 193, 193);
}

.instruction-text {
  color: rgb(150, 150, 150);
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: px;
}

.login-card button {
  cursor: pointer;
}

.normal-signin {
  padding: 10px;
  font-size: 17px;
  width: 70%;
  margin-top: 25px;
  margin-left: 37px;
  border: 2px solid transparent;
  border-radius: 5em;
  background-color: #1b77da;
  color: #f2f2f2;
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.2s;
}

.normal-signin:hover {
  background-color: transparent;
  color: #1b77da;
  border: 2px solid #1b77da;
}

.create-account {
  padding: 10px;
  font-size: 17px;
  width: 70%;
  margin-top: 5px;
  margin-left: 37px;
  margin-bottom: 5px;
  border: 2px solid transparent;
  border-radius: 5em;
  background-color: #e8e8e8;
  color: #1b77da;
  font-weight: bold;
  font-family: sans-serif;
  transition: 0.2s;
}

.create-account:hover {
  background-color: transparent;
  color: #1b77da;
  border: 2px solid #1b77da;
}

.alternate-login {
  margin-left: 42px;
  margin-top: 5px;
  background-color: #f2f2f2;
  border-radius: 5em;
}

.m-sign {
  padding: 7px;
  font-size: 14px;
  height: 40px;
  width: 40px;
  border-radius: 5em;
  margin-top: 5px;
  background-color: #7fba00;
  border: 2px solid transparent;
  transition: 0.2s;
}

.m-sign svg {
  width: 27px;
  height: 27px;
  margin-top: -2px;
  margin-left: -2px;
  fill: #f2f2f2;
}

.m-sign:hover {
  background-color: transparent;
  border: 2px solid #7fba00;
}

.m-sign:hover svg {
  fill: #7fba00;
}

.g-sign {
  padding: 7px;
  font-size: 14px;
  height: 40px;
  width: 40px;
  border-radius: 5em;
  margin-top: 5px;
  margin-left: 15px;
  background-color: #db4437;
  border: 2px solid transparent;
  transition: 0.2s;
}

.g-sign svg {
  width: 23px;
  height: 25px;
  margin-top: -1.5px;
  fill: #f2f2f2;
}

.g-sign:hover {
  background-color: transparent;
  border: 2px solid #db4437;
}

.g-sign:hover svg {
  fill: #db4437;
}

.a-sign {
  padding: 7px;
  font-size: 14px;
  height: 40px;
  width: 40px;
  border-radius: 5em;
  margin-top: 5px;
  margin-left: 15px;
  background-color: #000000;
  border: 2px solid transparent;
  transition: 0.2s;
}

.a-sign svg {
  width: 25px;
  height: 25px;
  margin-top: -1px;
  margin-left: -1px;
  fill: #f2f2f2;
}

.a-sign:hover {
  background-color: transparent;
  border: 2px solid #000000;
}

.a-sign:hover svg {
  fill: #000000;
}

/* Search */
.InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(255, 81, 0);
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 13px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.micIcon {
  width: 12px;
}

.micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.searchIcon path {
  fill: rgb(114, 114, 114);
}

.micIcon path {
  fill: rgb(255, 81, 0);
}

.micButton:hover {
  background-color: rgb(255, 230, 230);
  transition-duration: 0.3s;
}

/* card */
